.footer-bottom{
	font-size: small;
	background-color: #29166f;
	color: #fff;
}

.footer-bottom p{
	font-size: small;
	color: #fff;
}

.email-civil-department p > a{
	color: rgb(204, 204, 204) !important;
}

.email-civil-department p > a:hover{
	color: #fff !important;
}

.social-media{
	font-size: small;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0px 80px;
	margin: 5px 0px;
}

.social-media a{
	font-size: small;
	background-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 5px;
    color: #44464a;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-media div{
	font-size: small;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.social-media a:hover{
	transform: scale(1.1);
	color:#000;
}

.footer-bottom .container{
	font-size: small;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}

.footer-bottom .container .row{
	font-size: small;
	margin: 1px;
}

.footer-bottom .email-civil-department{
	font-size: small;
	margin-top: 1px;
}

.footer-bottom .more-contact-info{
	font-size: small;
	margin-top: 1px;
}

.footer-bottom .department-email-link:hover{
	text-decoration: underline !important;
}

.footer-bottom .official-site-link:hover{
	color: #fff;
	text-decoration: underline;
}

.footer-bottom .more-contact-info:hover{
	text-decoration: underline;
}

.footer-bottom .contributions{
	font-size: small;
	display: flex;
	flex-direction: row;
}

.footer-bottom .contributions .contributors > li{
	padding-left: 10px;

}


.names{
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
	margin-bottom: 10px;
	font-size: 14px;
	margin-top: 5px;
	margin-left: 40px;
}

.names a{
	color: #fff;
	font-size: 15px;
}

#scrolled-to-contact-us > div > div.names > div > div > a:nth-child(1){
	color: #fff;
	margin-left: 30px;
}

#scrolled-to-contact-us > div > div.names > div > div > a:nth-child(2){
	color: #CCCCCC;
}

#scrolled-to-contact-us > div > div.names > div > div > a:nth-child(1):hover{
	font-weight: bold;
	text-decoration: underline;
}

#scrolled-to-contact-us > div > div.names > div > div > a:nth-child(2):hover{
	font-weight: bold;
	text-decoration: underline;
}

#scrolled-to-contact-us > div > div.names > div.contra > div > div > a:nth-child(1){
	color: #fff;
	margin-left: 30px;
}

#scrolled-to-contact-us > div > div.names > div.contra > div > div > a:nth-child(2){
	color: #CCCCCC;
}

#scrolled-to-contact-us > div > div.names > div.contra > div > div > a:nth-child(1):hover{
	font-weight: bold;
	text-decoration: underline;
}

#scrolled-to-contact-us > div > div.names > div.contra > div > div > a:nth-child(2):hover{
	font-weight: bold;
	text-decoration: underline;
}

.contri-button{
	transition: transform 0.3s ease-in-out;
}

.contri-button:hover{
	transform: scale(1.1);
	background-color: #ccc;
}

.contri-icon{
	transition: transform 0.3s ease-in-out;
}

.contri-icon:hover{
	transform: scale(1.1);
	color: #000;
}


.hidden-contributions{
	display: none;
}