================================================================================================= */
/* General Header Styles
================================================================================================= */
.fusion-header-wrapper {
    position: relative;
    z-index: 10010;
}
.fusion-header-wrapper .tooltip {
    z-index: 10030;
}
.fusion-header-sticky-height {
    display: none;
}
.fusion-header {
    padding-left: 30px;
    padding-right: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fusion-header-backface {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fusion-header-v2 .fusion-header,
.fusion-header-v3 .fusion-header,
.fusion-header-v4 .fusion-header,
.fusion-header-v5 .fusion-header {
    border-bottom: 1px solid transparent;
}
.fusion-logo {
    display: block;
    float: left;
    max-width: 100%;
    zoom: 1;
}
.fusion-logo:before,
.fusion-logo:after {
    content: " ";
    display: table;
}
.fusion-logo:after {
    clear: both;
}
.fusion-logo a {
    display: block;
    max-width: 100%;
}
.fusion-logo img {
    margin-top: -34px;

    margin-bottom: 5px;
	padding-right:8px;
}
.fusion-logo-2x {
    display: none;
}
.fusion-mobile-logo-1x,
.fusion-mobile-logo-2x {
    display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .fusion-standard-logo.fusion-logo-1x {
        display: none;
    }
    .fusion-standard-logo.fusion-logo-2x {
        display: inline-block;
    }
}
.fusion-secondary-header .fusion-alignleft {
    float: left;
    margin-right: 0;
    width: 100%;
}
.fusion-secondary-header .fusion-alignright {
    float: right;
    margin-left: 0;
}
.fusion-secondary-header {
    min-height: 24px !important;
    border-bottom: 1px solid transparent;
}
.fusion-secondary-header .fusion-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.fusion-secondary-header .fusion-alignleft {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.fusion-secondary-header .fusion-alignright {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.fusion-secondary-header .fusion-alignright > * {
    float: right;
}
.fusion-header-v2 .fusion-secondary-header {
    border-top: 3px solid transparent;
}
.fusion-secondary-header .fusion-mobile-nav-holder {
    width: 80%;
    margin: 0 auto;
}
.fusion-header-separator {
    padding: 0 6px;
}
.fusion-contact-info {
    line-height: 22px;
}
.fusion-header-v4 .fusion-header {
    padding-bottom: 0px;
    padding-top: 0px;
}
.fusion-header-v4 .fusion-logo {
    width: 100%;
}
.fusion-header-v4 .searchform {
    margin-left: 15px;
}
.fusion-header-v4 .search-table {
    width: 286px;
}
.fusion-header-v4 .fusion-logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.fusion-header-v4 .fusion-logo:before,
.fusion-header-v4 .fusion-logo:after {
    content: none;
}
.fusion-header-v4 .fusion-logo .fusion-logo-link {
    float: none;
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline a {
    display: inline;
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline .fusion-button {
    display: inline-block;
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-secondary-menu-search {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.fusion-header-tagline {
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-family: 'MuseoSlab500Regular', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.fusion-header-banner {
    float: right;
}
.fusion-logo .fusion-header-banner a {
    float: none;
}
.fusion-secondary-main-menu {
    border-bottom: 1px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.fusion-secondary-main-menu .fusion-main-menu {
    float: none;
}
.fusion-secondary-main-menu .search-table {
    width: 100%;
}
.fusion-secondary-main-menu .fusion-main-menu .searchform {
    display: none;
    float: none;
    padding: 5px 0px;
    margin-left: 0;
}
.fusion-secondary-main-menu .fusion-main-menu .searchform {
    display: block;
    padding: 0;
}
.fusion-secondary-main-menu .fusion-secondary-menu-search {
    display: none;
    padding: 5px 0px;
}
.fusion-secondary-main-menu .fusion-secondary-menu-search .searchform {
    margin-left: 0;
}
.fusion-header-menu-align-center .fusion-main-menu {
    text-align: center;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li {
    display: inline-block;
    vertical-align: top;
    float: none;
    text-align: left;
}
.fusion-header-menu-align-right .fusion-main-menu {
    float: right;
}
.fusion-header-v5.fusion-logo-center .fusion-logo {
    float: none;
    text-align: center;
}
.fusion-header-v5.fusion-logo-center .fusion-logo a {
    display: inline-block;
}
.fusion-logo-left .fusion-header-banner {
    float: right;
}
.fusion-logo-left.fusion-header-v4 .fusion-logo {
    float: none;
    width: auto;
}
.fusion-logo-right .fusion-logo {
    float: right;
    text-align: right;
}
.fusion-logo-right .fusion-header-banner {
    float: left;
}
.fusion-logo-right .fusion-header-tagline {
    float: left;
}
.fusion-logo-right .searchform {
    float: left;
}
.fusion-logo-right .fusion-main-menu {
    float: left;
}
.fusion-logo-right .fusion-mobile-menu-icons {
    left: 0;
    right: auto;
}
.fusion-logo-right .fusion-mobile-menu-icons a {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}
.fusion-logo-right.fusion-header-v4 .fusion-logo .fusion-logo-link {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.fusion-logo-right.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}


<div class="fusion-alignleft">
                        <div class="fusion-contact-info">
                            <div class="cont">
                                <a href="https://erp.nitdelhi.ac.in" target="_blank">
                                    <img src="./img/ims.png"></a>| <a
                                    href="https://nitdelhi.samarth.ac.in/index.php/site/login" target="_blank"><img
                                        src="./img/logo.png"></a> |
                                <span class="fa fa-user" style="color: #992941;"></span>&nbsp;<a
                                    href="https://nitdelhi.ac.in/?page_id=14774" target="_blank">Login</a> |
                                <span class="fa fa-graduation-cap" style="color: #992941;"></span><a
                                    href="https://nitdelhi.ac.in/alumniportal/" target="_blank"> <b id="blink"
                                        style="color:#992941;"> Alumni Cell </b></a> | <span class="fa fa-globe"
                                    style="color: #992941;"></span> &nbsp; <a href="https://eoffice.nitd.ac.in/"
                                    target="_blank" style="color:#992941;">E-Office</a>|&nbsp;<a
                                    href="https://www.nitdelhi.ac.in/Tnpcell/" target="_blank"><b>Training &amp; Placement
                                    </b>
                                </a>
                                <span class="fa fa-language" style="color: #992941;"></span>
                                <span id="google_translate_element" style="float:right; margin-top:8px; padding-left:0px;"></span>
                                <script type="text/javascript">
                                    function googleTranslateElementInit() {
                                        new google.translate.TranslateElement({
                                            pageLanguage: 'en',
                                            includedLanguages: 'bn,en,gu,hi,ml,mr,pa,ta,te',
                                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                                        }, 'google_translate_element');
                                    }
                                </script>
                                <script type="text/javascript"
                                    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                            <a href="mailto:"></a>
                        </div>
                    </div>