@media only screen and (max-width: 992px){

	.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper{
		width: 100%;
	}

	.fusion-header-v4 .search-table{
		width:145px;
	}

	.searchform .search-field{
		display: none;
	}

	.searchform .search-button{
		float: right;
	}

	.searchsubmit{
		background-color: transparent;
		color: #000;
		border: 2px solid #000;
		border-radius: 100px;
	}

	.fusion-secondary-header{
		border-bottom: 2px solid #992941 !important;
	}

	.fusion-contact-info{
		margin-left: 0 !important;
	}
	
	.fullwidth-box.faded-background{
		height: 100%;
	}

	.main-header img{
		max-width: 80px;
		margin-bottom: 10px;
	}

	.sec-padding .container .row{
		flex-direction: column;
		justify-content: space-between;
	}

	.sec-padding .container .row .col-md-9{
		margin-bottom: 50px;
	}

	.equipments-section .row{
		grid-template-columns: 20% 60% 20%;
	}

	#middle-equipments-container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.social-media{
		padding: 0;
	}

	.menu{
		float: right;
		padding-top: 5px;
	}

	.menu-3 .nav{
		text-align: center;
    	width: 85vw;
		display: flex;
		flex-direction: column;
	} 

	.navbar {
		position: relative;
		min-height: 50px;
		margin-bottom: 20px;
		display: block;
	}

	.navbar-toggle {
		display: block;
		position: relative;
		float: right;
		margin-right: 15px;
		padding: 9px 10px;
		margin-top: 3px;
		margin-bottom: 10px;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 2px;
		transition: transform 0.3s ease-in-out;
	}

	.navbar-toggle:hover{
		transform: scale(1.1);
	}
	
	.navbar-nav > li {
		border-radius: 30px;
		display: none;
 		float: left;
		border-bottom: 2px dashed #000;
		border-radius: 30px;
	}
	
	#main-navigation{
		display: none;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.menu-3 .menu .navbar{
		border: 1px double #000;
		border-radius: 30px;
	}

	.menu-3 .navbar-header{
		text-align: center;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-top: 5px;
		margin-top: 10px;
		border-radius: 30px;

	}

	.menu-3 .navbar-toggle .icon-bar{
		background-color:#000;
	}

	.names {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 10px;
	}
	
}

@media (min-width: 992px){
	#main-navigation{
		justify-content: center;
		display: flex !important;
	}
}

@media only screen and (max-width: 500px){
    .about-equipment p{
        height: 250px;
    }

	.equipment-name h5{
		height: 80px;
		font-size: 15px;
	}

	.footer-bottom .container h3{
		font-size: 23px;
	}

	.names a{
		font-size: 12px;
	}

	.names >div > div{
		font-size: 14px;
	}

	.contact-us-container strong{
		font-size: 15px !important;
	}

	.contact-us-container p{
		font-size: 12px;
	}

	.email-civil-department p strong{
		font-size: 12px !important;
	}

	.email-civil-department p a{
		font-size: 11px;
	}

	.about p{
		font-size: 14px;
	}

	.about h5{
		font-size: 20px;
	}

	.equipment-heading{
		font-size: 24px !important;
	}

	#labName{
		font-size: 26px;
	}

	.title-heading-center{
		font-size: 20px;
	}

	.about-equipment{
		height: 350px;
	}

	.about-equipment p{
		height: 100%;
	}
}
